<div class="banner-container">
  <section class="banner-content">
    <ul class="slideshow no-list">
      <% @banners.each do |banner| %>
        <li>
          <%= link_to(banner[:link], target: "_blank") do %>
            <%= image_tag(banner[:image], title: banner[:caption]) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</div>