<footer>
  <div class="footer-content">
    <div class="author">
        <%= image_tag("http://lorempixel.com/150/150/") %>
        <div class="author-info">
          <span class="name">Author Name</span>
          <p class"brief">Some author briefing</p>
        </div>
    </div>
    <%= image_tag("google-maps.jpg", class: "location-map") %>
  </div>
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>