  <div class="footer-container">
    <section class="footer-content clearfix">
      <div class="box-author lfloat clearfix">
        <div class="author-image lfloat">
          <%= image_tag("http://lorempixel.com/150/150/") %>
        </div>
        <div class="author-info">
          <p class="name">Author Name</p>
          <p class"brief">Some author briefing</p>
        </div>
      </div>

      <div class="location-map lfloat">
        <%= image_tag("google-maps.jpg") %>
      </div>
    </section>
  </div>
</body>
</html>