<header>
  <div class="header-content">
    <%= link_to(root_path) do %>
      <h1>Logo Here</h1>
    <% end %>
    <%= render "partials/form_login_header" unless user_signed_in? %>
  </div>
</header>

<%= render "partials/banner" if current_page?(root_path) %>