<section class="box-home-about">
  <header>
    <h1>About Us</h1>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, assumenda nihil reiciendis mollitia explicabo debitis corrupti ratione repudiandae praesentium qui aliquid numquam magnam quod placeat molestiae animi quaerat ut quis perferendis dolorem dicta odit omnis voluptate nostrum iste impedit in facilis perspiciatis soluta facere! Accusamus soluta fugiat quisquam beatae neque?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, assumenda nihil reiciendis mollitia explicabo debitis corrupti ratione repudiandae praesentium qui aliquid numquam magnam quod placeat molestiae animi quaerat ut quis perferendis dolorem dicta odit omnis voluptate nostrum iste impedit in facilis perspiciatis soluta facere! Accusamus soluta fugiat quisquam beatae neque?</p>
</section>

<section class="box-zombies-home">
  <header>
    <h1>Our Team(Zombies)</h1>
  </header>
  <%= render "partials/zombies/list"%>
</section>