.main{
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.lfloat{
  float: left;
}

.rfloat{
  float: right;
}

.no-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.clearfix{
  &:before, &:after{
    content: " ";
    display:  table;
  }
  &:after{
    clear: both;
  }
}


body{
  /* HEADER */
  & > header{
    background-color: #000;
    .header-content{
      @extend .main;
      @extend .clearfix;
      a{
        color: #fff;
        @extend .lfloat;
      }
      form{
        @extend .rfloat;
      }
    }
  }
  /* FOOTER */
  & > footer {
    background-color: #e2e2e2;
    .footer-content{
      @extend .main;
      @extend .clearfix;
      .author{
        @extend .lfloat;
        img{
          @extend .lfloat;
          width:150px;
          height: 150px;
          border-radius: 100%;
          border: solid 5px #fff;
        }
        .author-info{
          margin: 50px 0 0 170px;
          .name{
            font-weight: 700;
          }
        }
      }
      .location-map{
        margin-left: 80px;
        border: solid 5px #ccc;
        border-radius: 5px;
        @extend .lfloat;
      }
    }
  }
}

/* BANNER */
.banner-container{
  .banner-content{
    @extend .main;
    .slideshow{
      overflow: hidden;
      height:  300px;
    }
  }
}

/* MAIN CONTENT */
.main-content{
  @extend .main;
}