body{
  margin: 0;
  padding: 0;
}

.main{
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

/* HEADER */
.header-container{
  .header-content{
    @extend .main;
    .logo-header{

    }
    .login-header{

    }
  }
}

/* BANNER */
.banner-container{
  .banner-content{
    @extend .main;
  }
}

/* MAIN CONTENT */
.main-content{
  @extend .main;
}

/* FOOTER */
.footer-container{
  background-color: #e2e2e2;
  .footer-content{
    @extend .main;
    .box-author{
      .author-image{
        width:150px;
        img{
          border-radius: 100%;
          border: solid 5px #fff;
        }

      }
      .author-info{
        margin: 50px 0 0 170px;
        .name{

        }
        .brief{

        }
      }
    }
  }
}