.alert-box{
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;
  font-size:11px;
  padding:10px 36px;
  margin:10px;
  background-repeat: no-repeat;
  background-position:  10px 50%;
  border-style: solid;
  border-width: 1px;
  span{
    font-weight:bold;
    text-transform:uppercase;
  }
  &.error{
    border-color:#f5aca6;
    background-color:#ffecec;
    background-image: url(image_path('error.png'));
  }
  &.success{
    border-color:#a6ca8a;
    background-color:#e9ffd9;
    background-image: url(image_path('success.png'));
  }
  &.warning{
    border-color:#f2c779;
    background-color:#fff8c4;
    background-image: url(image_path('warning.png'));
  }
  &.notice{
    border-color:#8ed9f6;
    background-color:#e3f7fc;
    background-image: url(image_path('notice.png'));
  }
}